/* layout section */

    /* includes margin & padding into width & height */
    * {
        box-sizing: border-box;
    }


    /* grid system (based on: http://www.w3schools.com/css/css_rwd_intro.asp) */
        .grid-container {
            width: 100%;
            max-width: 1200px;
            margin: 15px auto;
        }
        .row{
            margin: 0 -15px 15px;
        }
        /* clear */
        .row::before,
        .row:after{
            content: "";
            clear: both;
            display: table;
        }
        /* For mobile phones: */
        [class*="col-"] {
            width: 100%;
        }
        @media only screen and (min-width: 600px) {
            /* For tablets: */
            .col-m-1 {width: 8.33%;}
            .col-m-2 {width: 16.66%;}
            .col-m-3 {width: 25%;}
            .col-m-4 {width: 33.33%;}
            .col-m-5 {width: 41.66%;}
            .col-m-6 {width: 50%;}
            .col-m-7 {width: 58.33%;}
            .col-m-8 {width: 66.66%;}
            .col-m-9 {width: 75%;}
            .col-m-10 {width: 83.33%;}
            .col-m-11 {width: 91.66%;}
            .col-m-12 {width: 100%;}
        }
        @media only screen and (min-width: 768px) {
            /* For desktop: */
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}
        }
        /* float */
        [class*="col-"] {
            float: left;
            padding: 15px;
            border: 1px solid red;
        }

        /* hide mechanic */
            .hide {
                display: none;
            }
            @media only screen and (max-width: 600px) {
                /* For mobile: */
                .hide-sm { display: none; }
            }
            @media only screen and (min-width: 600px) and (max-width: 768px) {
                /* For tablets: */
                .hide-m { display: none; }
            }
            @media only screen and (min-width: 768px) {
                /* For desktop: */
                .hide-l { display: none; }
            }
        /* END of hide mechanic */

        /* responsive img */
        img {
            max-width: 100%;
            height: auto;
        }
    /* END of grid system */

/* TODO: if background images, then use img files with diff. dimensions and media queries OR <picture> */

    /* other layouting */
        header, footer {
            border: 1px solid red;
            padding: 15px;
            margin: -15px;
        }
        header > *, footer > * {
            text-align: center;
        }
    /* END of other layouting */


/* END of layout section */



/* look and feel section */

    /* For development. To make it visible*/
    div {
        background: #333333;
    }

/* END of look and feel section */
